.App {
  text-align: center;
  
}

.form{
  display: flex;
  flex-direction: column;
  margin:0 auto;
  width: 50%;
  box-sizing: border-box;
}

.form-label{
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  text-align: center;
}

.form-input{
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px dashed black;
  padding: 12px;
  outline: none;
  font-size: 24px;
  text-align: center;
}

.form button{
  background: #5522fa;
  border: none;
  width: fit-content;
  margin: 16px auto;
  font-size: 22px;
  color: white;
  border-radius: 16px;
  padding: 12px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.error{
  color: red;
  font-size: 15px;
  font-weight: 300;
}

.user-container{
  font-size: 12px;
  border: 2px solid #5522fa;
  width: 50%;
  margin: 10px auto;
}

.user-container span{
  background-color: #5522fa;
  color: white;
  padding: 2px;
}